body{
    background-image:url("bg.jpg");
    background-position:center;
    background-size: cover;
    color: crimson;
    font-family: 'Yatra One', cursive;
}
.heading{
    width:80%;
    font-size:35px;
}
.name_of_obj{
    color: darkblue;
    font-size:25px;
}